# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [31]:
USE JunkDB_STL_March2022
CREATE TABLE tori.planned_makes (cars VARCHAR(50), cake VARCHAR(50), game VARCHAR(50))

Add three rows to your table that are your planned makes.

In [33]:
INSERT INTO tori.planned_makes (cars, cake, game)
VALUES ('camaro', 'chocolate', 'RPG');

Select top 10 *
FROM tori.planned_makes

cars,cake,game
camaro,chocolate,RPG
camaro,chocolate,RPG

## Update a Row

Change different values in one of your three rows.

In [36]:
UPDATE tori.planned_makes 
SET 
    cars = 'Lambo'
WHERE
    game = 'RPG';

In [37]:
Select top 10 *
FROM tori.planned_makes

cars,cake,game
Lambo,chocolate,RPG
Lambo,chocolate,RPG

## Delete a Row

Delete one of the rows from your table.

In [38]:
DELETE FROM tori.planned_makes
WHERE game = 'RPG';

## Drop the Table

While this has been fun, it is time to drop the table!

In [39]:
DROP TABLE tori.planned_makes;